---
layout: page
title: The Okavango Delta, Botswana
excerpt: "Some of my studies and data on the Okavango Delta, Botswana"
image: rainfall-delta_3B43_trmm_2001-2016_mk-z-ts-model
search_omit: true
---

The Okavango Swamps in Botswana (figure 1) are composed of a mosaic of islands and wetlands with a pronounced seasonal inundation cycle. The Panhandle entry valley (see figure 1) is mostly permanently inundated, and so is the proximal region of the swamps as the water leaves the Panhandle and spreads out over the alluvial fan (usually referred to as a "delta" but that is strictly speaking not correct). Further downstream the permanent wetlands give way to floodplains and then to grasslands with regular or occasional (during wetter years only) flooding. Salt pans occur both in the lower reaches of the alluvial fan and on islands. Island rims are usually elevated with riparian forests. Outside the region that is flooded the Kalahari desert with its sparse woodlands take over.

<figure>
<img src="images/geophysiology_wits_okaswamps_1994_m.jpg">
<figcaption> Figure 1. The Okavango swamps, Botswana.</figcaption>
</figure>

I spent my Post Doc time (1999-2001) at University of the Witwatersrand (Johannesburg, South Africa) studying the Okavango swamps.
This blog contains popular summaries of my studies and all the spatial data used for input as well as results.

<h1>Okavango articles and data</h1>
<ul class="post-list">
{% for post in site.categories.okavango reversed %}
  <li><article><a href="{{ site.url }}{{ post.url }}">
    {{ post.title }}
    {% if post.articleurl %} <a href="{{ post.articleurl }}"><span class="entry-date">link to original article</span></a>{% endif %}
    {% if post.excerpt %}<span class="excerpt">{{ post.excerpt | remove: '\[ ... \]' | remove: '\( ... \)' | markdownify | strip_html | strip_newlines | escape_once }}</span>{% endif %}</a>

  </article></li>
{% endfor %}
</ul>

<h3>Documents on how I restructured the original data supplied with this blog</h3>
<ul class="post-list">
{% for post in site.categories.dataprep reversed %}
  <li><article><a href="{{ site.url }}{{ post.url }}">{{ post.title }} {% if post.excerpt %} <span class="excerpt">{{ post.excerpt | remove: '\[ ... \]' | remove: '\( ... \)' | markdownify | strip_html | strip_newlines | escape_once }}</span>{% endif %}</a></article></li>
{% endfor %}
</ul>
